import(data.table)
import(devFunc)
import(R2DT)
import(stringr)
import(mgcv)
import(rpart)
import(rpart.utils)
import(ggplot2)
import(cluster)
import(rgdal)
import(dplyr)
import(classInt)
export(plottingSpatialEffect)
export(plottingSpatialEffectGroup)
export(binningUnivSpline)
export(plotUnivSpline)
export(extractSplineEstimate)
export(transform2BinnedVar)
export(addLevelDT)
export(changeLevelNamesDT)
export(groupingVars)
export(optNumbGroups)
export(subsetDT)
export(addCoordinates)
export(randomColorPick)
